*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-variation-settings: "wdth" 100;
 
   
    display: flex;
   
    align-items: center;
}
 
.container {
   
    
    width: 100%;
    height: 100vh;
    justify-content: flex-end;
    display: flex;
    flex-direction: row-reverse;
    
}

.imagem{
    flex: 1;
    background-color:#807f46;
    height: 100%;
    
    
}
.imagem img {
    margin-top: 180px;
    width: 900px;
    
}

.formulario{
    flex:1;
    background-color: rgb(255, 255, 255);
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.username-group{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;

}


.username-group-password{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.confirmar-senha {
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
}
 

    form{
        width: 59%;
        margin-top: -60px;
       
    }
    form h1{
        text-align: center;
        margin-bottom: 20px;
    }
    .igual, .button-84 {
       
    padding: 12px;
    font-size: 16px;
    border: 2px solid #cccccc85;
    border-radius: 4px;
    margin-top: 8px;
}
 
.beetwen{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
   
}





















































.button-84 {
    width: 100%;
    align-items: center;
    background-color: initial;
    background-image: linear-gradient(#464d55, #25292e);
    border-radius: 8px;
    border-width: 0;
    box-shadow: 0 10px 20px rgba(0, 0, 0, .1), 0 3px 6px rgba(0, 0, 0, .05);
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    flex-direction: column;
    font-family: expo-brand-demi, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 18px;
    height: 52px;
    justify-content: center;
    line-height: 1;
    margin: 0;
    outline: none;
    overflow: hidden;
    padding: 0 32px;
    text-align: center;
    text-decoration: none;
    transform: translate3d(0, 0, 0);
    transition: all 150ms;
    vertical-align: baseline;
    white-space: nowrap;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}
 
.button-84:hover {
    box-shadow: rgba(0, 1, 0, .2) 0 2px 8px;
    opacity: .85;
}
 
.button-84:active {
    outline: 0;
}
 
.button-84:focus {
    box-shadow: rgba(0, 0, 0, .5) 0 0 0 3px;
}
 
@media (max-width: 420px) {
    .button-84 {
        height: 48px;
    }
}
