/*Fonts google  */
@import url('https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

 * {
    font-family: "inter" , sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(#ecefee, #ced6fb);
}

.card-list .card-item .card-link{
    width: 400px;
    display: block;
    background: #fff;
    padding: 18px;
    border-radius: 12px;
    text-decoration: none;
}

.card-lidt .card-link .card-imagem{
width: 100%;
aspect-ratio: 16 / 9;
object-fit: cover;
border-radius: 10px;

}
