body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: #fffaf0;
}

.top-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(to right, #004d40, #010f0e);
  padding: 30px 30px;
  color: white;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  font-size: 22px;
      font-weight: bold;
      width: 100px;
}

.site-name {
  font-size: 1.5em;
  font-weight: bold;
}

.search {
  flex: 1;
  margin: 0 30px;
  padding: 10px 12px;
  border-radius: 20px;
  border: none;
  font-size: 1em;
}

.cart img {
  height: 70px;
}

.categories {
  display: flex;
  justify-content: center;
  background-color: #00796b;
  padding: 12px 0;
}

.categories a {
  color: white;
  margin: 0 20px;
  text-decoration: none;
  font-weight: 500;
  font-size: 1em;
}

.categories a:hover {
  text-decoration: underline;
}

#img-compraFinalizada{
  width: 250px;
  weight: 150px;
  padding-top: 50px;
}

#escrita{
  padding-top: 50px  ;

}

.container{
display: flex;
gap: 5px;
justify-content: center;
align-items: center;

}
#botoes {
  margin-top: 25px;
  display: flex;
  gap: 10px;
  margin-bottom: 50px;
   background: #104d1e;
  color: white;
 border-radius: 5px ;
}

#link{
  
}
footer {
  background-color: #004d40;
  color: white;
  padding: 20px;
  text-align:center;
  
}

footer a {
  color: white;
  text-decoration: none;
}

.escrita{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #004d40;
     font-size: 14px;

}

.vendidos{
     font-size: 9px;
}

.book-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 1rem;
  flex: 1;
}

.book-card {
  background-color: white;
  padding: 1rem;
  border-radius: 8 px;
  text-align: center;
  box-shadow: 0 0 2px rgba(0,0,0,0.1);
  width: 200px;
  height: 400px;
  
}

.book-card img {
  width: 120px;
  height: 180px;
  object-fit: cover;
  margin-bottom: 0.5rem;
}

.book-card h3 {
  font-size: 1rem;
  margin: 05rem 0;
}