* {
      margin: 0;
      padding: 0;
    
    }
 
    body {
      font-family: 'Segoe UI', sans-serif;
      background-color: #fffcf6;
    }
 
    header {
      background-color: #023514;
      color: white;
      padding: 15px 25px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 65px;
     
    }

  .logo {
        
      font-size: 22px;
      font-weight: bold;
      display: flex;  
    }

    .logo input {
        margin: auto;
        
        
    }

    .logo img {
      font-size: 22px;
      font-weight: bold;
      width: 150px;
    }
    
    .logo p{
        font-size: 30px;
        color: rgb(255, 255, 255);
        padding-top: 52px;
    }
    .menu-toggle {
      display: none;
      font-size: 24px;
      cursor: pointer;
      border:1px solid red
    }
 
    nav {
      background-color: #023514;
      color: #fff;
      display: flex;
      align-items: center;
      gap: 20px;
      border: 2px solid #546e5d;
    }
 
    nav ul {
      list-style: none;
      display: flex;
      gap: 20px;
      padding-left: 60px;
    }
 
    nav ul li a {
      color: white;
      text-decoration: none;
      font-weight: 500;
    }
 
    .search-bar {
      margin-left: 20px;
    }
 
    .search-bar input {
      padding: 6px 10px;
      border-radius: 4px;
      border: none;
      outline: none;
    }
 
    @media (max-width: 768px) {
      nav {
        display: none;
        flex-direction: column;
        width: 100%;
        margin-top: 10px;
      }
 
      nav.active {
        display: flex;
      }
 
      .menu-toggle {
        display: block;
      }
 
      .search-bar {
        margin: 10px 0;
        width: 100%;
      }
 
      .search-bar input {
        width: 100%;
      }
    }
 
.catalogo{
    /* border: 2px solid red; */
    margin-top: 2%;
    margin-left: 3%;
    margin-right: 3%;

}

.catalogo h2, p{
    color: #fffcf6;
}

.produto{
    background-color: #023514;
    padding: 1.2%;
    width: fit-content;
    border-radius: 3%;

}
.produto img{
    width: 224px;
    height: 325.7px;
}
